<launch>
    <!-- Устанавливаем модель TurtleBot3 -->
    
    <!-- Запускаем мир Gazebo с домом (интереснее для навигации) -->
    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch">
    </include>

    <!-- Запускаем навигацию SLAM -->
    <include file="$(find turtlebot3_slam)/launch/turtlebot3_slam.launch">
    </include>

    <!-- move_base для навигации к целям -->
    <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    </include>

</launch>
